.navbar {
    background-color: #cc9b9b; 
    color: #7c1111; 
    padding: 10px 20px; 
  }
  
  .navbar nav {
    display: flex; 
    justify-content: center;
  }
  
  .navbar nav a {
    text-decoration: none; 
    color: #fff; 
    padding: 5px 10px; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar nav a:hover {
    background-color: #5c5d5e; 
  }
  